@font-face {
  font-family: 'iconfont';  /* project id 2347997 */
  src: url('//at.alicdn.com/t/font_2347997_9mgziycrsak.eot');
  src: url('//at.alicdn.com/t/font_2347997_9mgziycrsak.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2347997_9mgziycrsak.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2347997_9mgziycrsak.woff') format('woff'),
  url('//at.alicdn.com/t/font_2347997_9mgziycrsak.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2347997_9mgziycrsak.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chayan:before {
  content: "\e98c";
}

.icon-down:before {
  content: "\e605";
}

.icon-qingchu:before {
  content: "\e6e1";
}

.icon-shangpinguanli:before {
  content: "\e60c";
}

.icon-dianpuguanli:before {
  content: "\e602";
}

.icon-huiyuanguanli1:before {
  content: "\e609";
}

.icon-ziyuan:before {
  content: "\e6a2";
}

.icon-zhuye:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e603";
}

.icon-system:before {
  content: "\e604";
}

.icon-caiwuguanli:before {
  content: "\e621";
}

.icon-tuichu:before {
  content: "\e6dd";
}

.icon-yonghuguanli1:before {
  content: "\e6d5";
}

.icon-huiyuanguanli:before {
  content: "\e60b";
}

.icon-mima:before {
  content: "\e610";
}

.icon-zhuangxiuguanli:before {
  content: "\e615";
}

.icon-yonghuming:before {
  content: "\e600";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e607";
}

.icon-yanzhengma:before {
  content: "\e649";
}

.icon-yonghuguanli:before {
  content: "\e616";
}

